<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mi primer proyecto en node.js</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">
		<h1 class="display-4">Sobre el Sitio Web</h1>
		<hr class"my-4">
			<p><b>Aviso de Privacidad Integral:</b>
				Se informa que no se realizarán transferencias de datos personales, salvo aquéllas que sean
				necesarias para atender requerimientos de información de una autoridad competente, que estén
				debidamente fundados y motivados. Cambios al aviso de privacidad En caso de que exista un cambio
				de este aviso de privacidad, lo haremos de su conocimiento a través del correo electrónico
				institucional y/o personal. 
			</p>
		</div>
		<div class="jumbotron mt-4">
		<h1 class="display-4">Sobre la UTCGG</h1>
		<hr class"my-4">
			<p><b>Misión:</b>
				Formar profesionistas altamente capacitados con sentido de responsabilidad e innovación, que contribuyan al desarrollo económico y social através de Programas Educativos pertinentes a las necesidades del sector productivo.
			</p>
			
			<p><b>Visión:</b>
				Ser una institución de calidad, reconocida por la formación integral de profesionistas a nivel superior con alta competitividad y responsabilidad social; con una planta académica consolidad y comprometida por su sólida vinculación con los sectores educativo, productivo y social; lo que contribuírá al desarrollo del Estado y del País.
			</p>
		</div>
		
	</div>	
	</div>	
	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>