<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mi primer proyecto en node.js</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">
		<h1 class="display-4">Admisiones 2020</h1>

		<div class="container">
			<header class="row">
				<div class="col-lg-12 text-center">
					<img src="/img/admi.jpg" width="320" height="190" alt="Imagen de admisiones" >
				</div>
			</header>
		</div>
		<p class="lead">
			Bienvenidos a la página de admisiones. Aquí encontraras toda la información que necesitas para concretar tu ingreso a la Universidad.No olvides consultar nuestra oferta educativo.
		</p>
		<p class="lead">A continuación verás el proceso completo que deberás seguir para ser parte de nuestra Universidad:
		</p>

		<hr class"my-1">
			<p>1.-Llena tu pre-registro en línea.</p>
		<hr class"my-1">
			<p>2.-Accede al nuevo portal "consulta tu estatus".</p>
		<hr class"my_1">
			<p>3.-Realiza el pago de tu ficha.</p>
		<hr class"my_1">
			<p>4.-Solicita tu pase de examen CENEVAL.</p>
		<hr class"my_1">
			<p>5.-Realiza tu examen psicométrico.</p>
		<hr class"my_1">
			<p>6.-Aplicación de examen CENEVAL.</p>
		<hr class"my_1">
			<p>7.-Publicación de resultados.</p>
		<hr class"my_1">
			<p>8.-Pago de inscripción.</p>
		<hr class"my_1">
			<p>9.-Entrega de documentos.</p>


	<section class="card">
		<div class="card-body">
			<h2>¿Dudas?</h2>
			<div>
				<p>Encargada del Área: 
				<b>Lic.América Pineda Cruz</b>
				<p><span>Contactar a: <a href="mailto:captacion@utcgg.edu.mx">captacion@utcgg.edu.mx</a>| Ext.1105 | Edificio A</span></p></p> 
			</div>
	</div>
	</section>
	</div>	
	</div>	
	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>