<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CONSARQ</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">
		<h1 class="display-4">SERVICIOS</h1>
		<hr class"my-4">

		<div class="media">
			<img class="d-flex mr-3" src="/img/consulta.jpg" width="320" height="190" alt="Imagen de Personas" alt="Generic" placeholder="Consulta" height="100px">
		<div class="media-body">
		<h5 class="display-8">Consultoría y asesoramiento para proyectos de arquitectura y construcción:</h5><br>
		<p class="lead">Nuestro estudio de arquitectos apoya a las empresas y a las personas particulares a impulsar sus proyectos de arquitectura y remodelaciones asesorandolos para formalizar y definir todo lo referente a ello contrataciones, materiales, arquitectos, planos, etc.
		</p>
		</div>
		</div><br>

		<hr class"my-1">
		<p class="lead"><b>Proyecto de inversión / Proyecto de innovación: </b><br>
		Hablenos de su proyecto de inversión empresarial o su proyecto de innovación. Sabremos escucharle atentamente y adaptarlo a las exigencias de los distintos programas de ayudas e incentivos de financiación regionales, nacionales y europeos.</p>

		<hr class"my-1">

		<div class="media">
		<div class="media-body">
		<h5 class="display-8">Analizamos su idea: </h5><br>
		<p class="lead">Somos capaces de analizar su empresa aportando conceptos, criterios y metodología para implementar la I+D+i a la medida de su compañía.
		</p>
		</div>
		<img class="d-flex mr-3" src="/img/analizar.jpg" width="320" height="190" alt="Imagen de Analizar" alt="Generic" placeholder="Analizar" height="100px">
		</div>

		<hr class"my-1">
		<p class="lead"><b>Aportamos valor agregado: </b><br>
		Una vez analizada su idea, la ponemos en valor y preparamos y presentamos la propuesta a los organismos y entidades públicas que correspondan.</p>

		<hr class"my-1">
		<p class="lead"><b>Seguimiento y justificación:	</b><br>
		Realizamos todo el seguimiento hasta que su proyecto de inversión o de innovación logre los mejores resultados posibles.</p><br>



	<section class="card">
		<div class="card-body">
			<h2>¿Preguntas?</h2>
			<div>
				<p>Télefono : 
				<b>+507 342-2763</b>
				<p>Horario de atención : 
				<b>Lunes a Viernes de 8:00 a.m a 17:00 p.m</b>
				<p><span>Contactar a: <a href="mailto:info@consarq.com.pa">info@consarq.com.pa</a>| Edificio Century Tower, Oficina 1819, Vía Ricardo J. Alfaro, Panamá</span></p></p> 
			</div>
	</div>
	</section>
	</div>	
	</div>	
	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>