<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MECA AGENCY</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">
		<h1 class="display-4">Fuentes Consultadas</h1>
		<hr class="my_1">
		<div class="container">
			<header class="row">
				<div class="col-lg-12 text-left">
					<img src="/img/fuentes.jpg" width="320" height="190" alt="Imagen de admisiones" >

				</div>
			</header>
		</div>
		<p class="lead">
			Bienvenidos a esta página diseñada para mostrar todos los servicios que ofrecen la empresa de diseño MECA AGENCIA DIGITAL, a continuación les mostraremos todas las páginas que consultamos para tener la mejor información para ustedes nuestros clientes:
		</p>

		<hr class"my-1">
			<p class="lead">Anónimo. (2015). Bootstrap 4 Tutorial. 6 de julio del 2020, de w3schools.com Sitio web: https://www.w3schools.com/bootstrap4/</p>
		<hr class"my-1">
			<p class="lead">Anónimo. (2016). ¿Qué es el Diseño Web?. 6 de julio del 2020, de NEOATTACK Sitio web: https://neoattack.com/neowiki/diseno-web/</p>
		<hr class"my_1">
			<p class="lead">Anónimo. (2016). MECA AGENCIA DIGITAL. 6 de julio del 2020, de MECA Sitio web: https://www.meca.mx/</p>
		<hr class"my_1">
			<p class="lead">Anónimo. (2015). Font Awesome Get vector icons and social logos on your w. 7 de julio del 2020, de Font AWESONE Sitio web: https://fontawesome.com/</p>
		<hr class"my_1">
			<p class="lead">Ghosh. (2019). uiGradients. 7 de julio del 2020, de github Sitio web: https://uigradients.com/#Jaipur</p>
		

	</div>	

	<div class="jumbotron mt-4">
		<h1 class="display-4">4 redes sociales claves para el marketing de restaurantes</h1>
		<hr class="my_1">
		<p class="lead">
			El éxito de tu empresa puede depender de muchas variantes, pero trabajar constantemente y con paciencia en algunos puntos clave pueden convertir a tus redes sociales en una verdadera plataforma de ventas. Recuerda que estar presente en todas la redes sociales no sirve de nada sin no decides cuáles con las comunidades que más te servirán y en las cuales hay que poner el mayor esfuerzo. Las más populares para restaurantes según la manera en la que interactúan con los seguidores son las que te presentamos a continuación. Descúbrelos aquí y elige tus redes según el resultado que buscas.

 
		</p>
		<p class="lead"><b>Facebook</b><br>

		En la red con más número de usuarios y con interacciones diarias en todo el mundo no basta tener un perfil y publicar de vez en cuando información de tu negocio. El punto principal de esta red social es hacer una comunidad, por lo que debes publicar contenidos varios que invite a tus fanáticos a entablar una conversación. Desde publicar imágenes impresionantes de tus productos hasta opciones de menú para que tus clientes escojan lo que prepararás (si te diriges a un público más joven), las estrategias las escoges tú y con ellas puedes estudiar la respuesta de tus clientes.
		</p>

		<p class="lead">
			<b>Instangram</b><br>
		Además de imágenes y vides, las tendencias empujan a que el contenido en esta red social se complemente con procesos de producción, el personal, eventos especials (desde eventos xclusivos a proyección de partidos), todo lo que envuelve la vida de tu restaurante puede ayudar a crear más interés en él.
		</p>

		<p class="lead">
			<b>Twitter</b><br>

		La atención al cliente y el mostrar en tiempo real lo que pasa en su establecimiento es lo que debes mostrar en tus contenidos de twitter. A la hora de la comida, antes de las cenas, o durante el fin de semana (según sea tu clientela), puedes crear reacciones inmediatas sobre lo que ocurre en tu cocina y mesa.
		</p>

		<p class="lead">
			<b>Google +</b><br>

		La red social de Google es usada para tener prioridad en el momento que sus usuarios busquen servicios como el tuyo. Compartir periódicamente contenido de interés para tus seguidores y utilizar hashtags como claves al describir tu servicio o producto ayudará a que tengas mayor visibilidad en las listas de búsqueda.
		</p>
	</div>
	</div>	
	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>