<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MECA AGECY</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<!--incluir el archivo navigaion de partials-->
	<%- include ('partials/navigation')%>

	<!--Seccion de contenido del logo-->
    
    <div class="container-fluid">
    	<header class="row">
    		<img src="/img/portada6.jpg" alt="Portada CONSARQ" class="animate__bounceIn">
    	</header>
    </div>
    <br>
   
    <div class="container">
	<div  class="jumbotron mt-4">
		<div class="media">
			<img class="d-flex mr-3" src="/img/logo1.png" alt="Generic" placeholder="image" height="100px">
		<div class="media-body">
		<h1 class="display-4">MECA AGENCY</h1>
		<hr class"my-4">
		<h5 class="animate__heartBeat">
			¿Qué es el diseño web?

			<p class="lead">
				El Diseño web es aquella actividad consistente en planificar, diseñar, mantener y crear páginas web. Se aleja del término más tradicional del diseño en cuanto a que engloba una gran variedad de aspectos diferentes, como pueden ser el diseño de la interfaz, el diseño del material gráfico o incluso la experiencia del usuario con el sitio.
			</p>
			
			<p class="lead">
			Es la principal disciplina a tener en cuenta a la hora de montar una web, ya que de ella depende el grado de usabilidad de la misma y la mejora de cara al visitante. Si este no recibe una experiencia agradable, con una interactividad, arquitectura de información, navegabilidad y usabilidad adecuadas, probablemente se desplace a la competencia o no saque real partido de lo que brinda la página. Es, además, uno de los elementos que trata de pelear siempre contra la tasa de rebote.
			</p>
		</h5>
	</div>
	</div>
  </div>

		<div class="jumbotron mt-4">
		

		<div class="media">
		<div class="media-body">
		<h1 class="display-4">Nuestro equipo</h1>
		<hr class"my-1">
			<p class="lead">
    			Estamos enfocados en entregar a nuestros clientes productos y servicios que los lleven a lograr el objetivo que establecemos junto con cada uno de ellos. 
    		</p>
    		<p class="lead">
    			Nuestro equipo de colaboradores cuenta con experiencia en las ramas de conocimiento acorde a los servicios que ofrecemos: Marketing Digital, Tecnología y Comunicación. #TalentoMECA 
    		</p>
    		<p class="lead">
    			Tenmos más de 15 años de experiencia en Marketing Digital: especializados en otorgar servicios al sector turístico y comercial. 
    		</p>

		</div>
		<img class="d-flex mr-3" src="/img/equipo.jpg" width="320" height="190" alt="Imagen de Analizar" alt="Generic" placeholder="Analizar" height="100px">
		</div>
			</div>


		<div class="jumbotron mt-4">
		<h1 class="display-4">Invertir en redes sociales beneficia tu empresa</h1>
		<hr class"my-4">
			<p class="lead">
				Un buen plan de redes sociales, estructurado y estudiado, no es un adorno o algo adicional para las empresas. En el presente, las estrategias de mercado y comunicación de empresas tienen a las redes sociales como su centro, por eso aquí te mostramos algunos de los grandes beneficios al invertir y estructurar un plan de redes sociales:
    		</p>


    		<hr class="my-1">
				<p class="lead">1.-Genera nuevos clientes. Estar presente en redes sociales también incrementa la posibilidad que de clientes prospectos encuentren tus servicios con mayor facilidad al buscar información sobre ellos en las redes.</p>
			<hr class="my-1">
				<p class="lead">2.-Enriquece el conocimiento de mercado. Poder estar el pendiente de lo que pasa en los procesos de compra no solamente permite tener un monitoreo de clientes y usuarios. También brinda información de la competencia y nuevos públicos por abarcar para llegar a ellos de una manera más precisa.</p>
			<hr class="my_1">
				<p class="lead">3.-Mejora el posicionamiento en buscadores. Alimentar tus contenidos en redes sociales te da una mayor visibilidad que no solamente te ayudará a crear más tráfico en tu sitio oficial, sino que ayudará a dar a conocer tus productos y/o servicios además de posicionarte mejor en el SEO (Serach Engine Optimization).</p>
			<hr class="my_1">
				<p class="lead">4.-Ayuda a la imagen de tu marca. Estar siempre al pendiente de la percepción que tus clientes o posibles nuevos clientes tienen de tu marca es una tarea diaria que es más fácil de ejecutar a través de las redes sociales.</p>
			
		</div>

	<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/img/car1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TECNOLOGÍA </h5>
      <p class="card-text">Contamos con más de 15 años de experiencia en desarrollo de sitios web, aplicaciones móviles, sitios responsivos, integración de Webservices y desarrollos web a la medida para todo tipo de organizaciones. </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/car2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DISEÑO </h5>
      <p class="card-text">Encontraremos la mejor solución a las necesidades de comunicación visual de tu organización. Ya sea de material impreso o digital, diseño UI/UX, diseño de templates te E-mail markegin, etc. Conoce nuestros servicios.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/car3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PUBLICIDAD ONLINE </h5>
      <p class="card-text">Para vender, promocionar o dar a conocer un producto o servicio en internet, existen diversas oportunidades de las que tu empresa puede tomar ventaja: Publicidad de anuncios en buscadores, display, videos y redes sociales que se adaptan a tu presupuesto y temporalidad. </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/car5.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MARKETING DE CONTENIDOS </h5>
      <p class="card-text">
      	La comunicación escrita y visual desarrollada para los canales digitales de cualquier organización son muy importantes. Las necesidades de comunicación van en función del público al que va dirigida tu marca. Acércate a los expertos. 
      </p>
    </div>
  </div>
</div>

	<br>
    <!--seccion primaria-->
	
	<div class="container-fluid" id="acerca">
		<div class="row bg-light text-dark p-5 text-center">
			
			<div class="col-sm-6">
				<h4>Búscanos también en las Redes Sociales:</h4>
				<i class="fab fa-facebook-square fa-4x"></i>
				<i class="fab fa-google-plus-square fa-4x"></i>
				<i class="fab fa-instagram fa-4x"></i>
				<i class="fab fa-twitter-square fa-4x"></i>
			</div>
	
			<div class="col-sm-6">
				<p class="animate__heartBeat">
					<b>MECA AGENCIA DIGITAL</b>
					SERVICIOS DE MARKETING DIGITAL, Diseño y desarrollo web 
				</p>
			<p><span><b> Email: </b><a href="mailto:mecagency@gmail.com"> mecagency@gmail.com</a></span></p>
			<p><b>Télefono:</b> +52 (55) 2489 0570 </p>
			</div>

		</div>
	</div>
</div>

	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    
</body>
</html>