<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MECA Agency</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">
		<div class="media">
			<img class="d-flex mr-3" src="/img/mision.jpg" width="320" height="230" alt="Imagen de Personas" alt="Generic" placeholder="Consulta" height="100px">
		<div class="media-body">
		<h1 class="display-8">MISIÓN</h1>
		<hr class"my-4">
		<p class="lead">
			Desarrollar soluciones integrales de tecnología, diseño y marketing digital que impulsen a nuestros clientes a posicionar, difundir y promover sus marcas, productos y servicios en medios de comunicación de mayor alcance y resultado; impulsando en nuestro equipo de trabajo el espíritu analítico, crítico, creativo, de responsabilidad y servicio al cliente que nos convertirá en una empresa ganadora.
		</p>
		</div>
		</div>
		</div>

		<div class="jumbotron mt-4">
			<div class="media">
			<img src="/img/tendencia.jpg" width="290" height="230" alt="Imagen de admisiones" >
				<div class="media-body">
		<h1 class="display-4">Tendencias de diseño web 2018</h1>
		<hr class"my-4">
		
			<p class="lead">
				Ser atractivos, lograr una excelente primera impresión, mantener la atención de los usuarios y que éstos recomienden nuestra página oficial, son algunas de las acciones que deseamos despertar con el diseño de nuestro sitios web. Por eso aquí te mostramos algunas de las tendencias más fuertes para el diseño en el 2018, para que puedas aplicarlas desde hoy, y marques una diferencia:
			</p>
		</div>
	</div>
			
			<p class="lead">
				<b>Ser responsive; un nuevo ‘must’ </b><br>
				Día a día, la cantidad de visitas que se realizan en páginas web a través de dispositivos móviles (celulares, tables, etc.) aumenta de manera exponencial. Por esta razón, el 2018 puede ser el año en el que el diseño responsive (el cual permite que tu contenido web sea visible de manera óptima en cualquier terminal digital) sea algo imperativo.
				</p>
			<p class="lead">
				<b>Heros y botones ghost</b><br>
				Los Heros son las imágenes a pantalla completa que, comparados con los slides de imágenes, captan mejor la atención de los usuarios y tienen mayor compatibilidad con el diseño Responsive. Los Heros, combinados con los botones ghost (botones transparentes con formas planas, sin relleno, y que se usan para el call to action) son un combo que ya estamos viendo en muchos de los diseños digitales más recientes.
			</p>

			<p class="lead">
				<b>Videos vs cinemagraphs</b><br>
				Los videos bien utilizados incrementan el tiempo que los usuarios pasan en nuestra página web y son siempre una herramienta útil para mantener el interés de la gente en nuestro producto o empresa. Aún así, hoy existe la tendencia de los Cinemagraphs; GIFs cortos o escenas fijas con partes en movimiento que, al tener sencillez y ser livianos en su proyección, son un elemento ideal para poder visualizarse en todo tipo de dispositivos.
			</p>

			<p class="lead">
				<b>El espacio negativo</b><br>
				Las apuestas por la simplificación siguen a la alza. Los sitios sencillos, minimalistas y concisos, cuyo diseño se aleja de lo recargado, son una corriente con potencia que despertó el interés por los espacios vacíos. Una correcta ejecución del espacio negativo impulsa interfaces de menor peso, un estilo limpio y armonioso, y ayuda al internauta a enfocarse en lo que deseamos.
			</p>

			<p class="lead">
				<b>Color</b><br>
				La escala de grises, antiguo símbolo de sofisticación, se despide y nos impulsa a darle la bienvenida al color en la búsqueda por sorprender y no pasar desapercibidos. El color estimula a los usuarios y aumenta las posibilidades de quedarnos en su mente al entrar en nuestros sitio web, por lo que es el incentivo para que nuestros sentidos tengan una experiencia agradable y memorable.
			</p>

			<p class="lead">
				<b>Tipografía</b><br>
				Los textos se separan de su función tradicional de transmitir contenidos y se convierten en los protagonistas de las interfaces. La tipografía con color, lúdica y hasta artística, es una fuerte fuente de expresión que, al combinarse con formas geométricas, patrones, y jugar con diferentes formas y tamaños, dan una recia personalidad y un estilo que puede diferenciar a tu página web del resto de las demás.
			</p>

		</div>
		
	</div>
	
	</div>

	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>