<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CONSARQ</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">
			<div class="media">
			<img class="d-flex mr-3" src="/img/quienes.png" width="320" height="250" alt="Imagen de Personas" alt="Generic" placeholder="Consulta" height="100px">
		<div class="media-body">
		<h1 class="display-8">¿QUIENES SOMOS?</h1>
		<hr class"my-4">
		<p class="lead"><b>ACERCA DE MECA AGENCY</b>
		<br>
			ESPECIALISTAS EN DISEÑO Y DESARROLLO WEB PARA EMPRESAS Y
			ORGANIZACIONES EN MÉXICO
			
			
		<p class="lead">
			Somos la agencia más completa de soluciones en servicios de marketing digital en México.

			Día con día hemos aprendido e implementado mejoras, procesos y mediciones que permiten que hoy en día reconozcamos la oportunidad que tiene cada uno de nuestros clientes para destacarse de su competencia y lograr conseguir sus objetivos de negocio.
		</p>

			

		</p>
				
		</p>
		</div>
		</div>
			<p class="lead">
				Nuestra experiencia en las diferentes ramas del medio digital: desarrollo de marcas, diseño web, programación de páginas y aplicaciones web y móviles; nos ha permitido desarrollar soluciones a la medida de organizaciones que buscan acceder, desarrollar, posicionarse y fortalecer su ecosistema digital.
			</P>
			<p  class="lead">
				Día con día hemos aprendido e implementado mejoras, procesos y mediciones que permiten que hoy en día reconozcamos la oportunidad que tiene cada uno de nuestros clientes para destacarse de su competencia y lograr conseguir sus objetivos de negocio.
			</P>
			
		</div>
		
	</div>
	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>