<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MECA Agency</title>
	<!--incluir el archivo head de partials-->
	<%- include ('partials/head')%>
</head>
<body>
	<%- include ('partials/navigation') %>

	<div class="container p-5">
	<div class="jumbotron mt-4">

		<div class="media">
			<img class="d-flex mr-3" src="/img/vision.jpg" width="320" height="230" alt="Imagen de Personas" alt="Generic" placeholder="Consulta" height="100px">
		<div class="media-body">
		<h1 class="display-8">VISIÓN</h1>
		<hr class"my-4">
		<p class="lead">
			Ser una organización reconocida por la aplicación de procesos y estándares de calidad en el desarrollo y entrega de servicios de tecnología y diseño; que nos impulsen a obtener un reconocimiento e integración al desarrollo de comercio electrónico en empresas medianas y grandes en todo el mundo.
			Nuestros Valores: Integridad, trabajo en equipo, compromiso, ética.
		</p>
		</div>
		</div>
		</div>
		
		<div class="jumbotron mt-4">
		<h2 class="display-5">ACERCA DE MECA AGENCY </h2>
		<hr class="my-4">
			<p class="lead">
				<b>ESPECIALISTAS EN DISEÑO Y DESARROLLO WEB PARA EMPRESAS Y ORGANIZACIONES EN MÉXICO</b><br>

				Somos una empresa sólida con personal altamente capacitado en el desarrollo de soluciones para clientes.
				Estamos integrados por un equipo de expertos en 3 áreas de conocimiento únicas:
			<ul class="lead">
				<li>Creatividad y diseño gráfico</li>
    			<li>Desarrollo web y de aplicaciones</li>
    			<li>Estrategias de comunicación y medición</li>
			</ul>
    			

			</p>
			<hr class="my-4">
			<h2 class="display-5">¿Buscas una agencia para tu empresa?</h2>
			
			<p class="lead">
				MECA es la mejor opción. Planeamos, creamos, ejecutamos y medimos para garantizar el éxito de tu proyecto.
			</p>
		</div>
		
	</div>
	<!--incluir el archivo footer de partials-->
	<%- include ('partials/footer')%>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>